<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>735745319326-6sdbk0t3624cl3ss9tup8jba5n66hn41.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.735745319326-6sdbk0t3624cl3ss9tup8jba5n66hn41</string>
	<key>API_KEY</key>
	<string>AIzaSyBH9AuCM6hGH2IKpArHmWKe7iyCqKvt42w</string>
	<key>GCM_SENDER_ID</key>
	<string>735745319326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.phonenumberauth</string>
	<key>PROJECT_ID</key>
	<string>phonenumberauth-c5593</string>
	<key>STORAGE_BUCKET</key>
	<string>phonenumberauth-c5593.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735745319326:ios:e678bc94e14afac4fc768f</string>
</dict>
</plist>